-r requirements.txt
pytest==9.1.1
pytest-cov
httpx==0.28.1
mkdocs-material>=9.6,<10
mkdocs-minify-plugin>=0.8,<1
mkdocs-static-i18n>=1.2,<2
ruff>=0.9,<1
mypy>=1.15,<2
pre-commit>=4.0,<5
types-PyYAML
types-hvac
